/* CSS declarations go here */



.magnetron {
  padding: 100px 0;
}

.meta-data {
    font-size: 10px;
    color: #BDBDBD;
    text-transform: uppercase;
    text-align: r;
}

.rightborder {
    border-right: thin solid #F4F4F4;
    padding: 10px 0;
    position: relative;
}

.indent {
  margin-left:20px;
}

.footer {
  margin-top: 100px
}
.marker {
    position: absolute;
    right: 30px;
    top:16px;
}

.yrkande {
    padding: 20px;
    background-color: #FAFAFA;
}

ul.attsatser {
    list-style-position: inside;
    list-style-type: none;
}

.attsatser li:before {
    content: "att";
    font-weight: 600;
    padding-right: 10px;
}
.toggle-erase {
  display: none;
}
.erasable:hover .toggle-erase {
  display: inline;
}
.erased * {
    text-decoration: line-through;
    opacity: .5;
}

.simple {
  margin:  0;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Lato', sans-serif !important;
}

body { font-family:  'Lato', sans-serif !important;}
html {font-size: 90%}
